            h1{
                color:blue;
                background:orange;
            }
            
            #first{
                color:red;
            }
            
            #second{
                background: yellow;
            }